body {
  background-image: url(../../src/assets/bg3.png);
  background-size: cover;
  background-position: center;
}

.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  flex: 1;
  align-self: center;
  justify-self: center;
  padding: 20px 50px 20px 50px;
  background-color: #202020;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .signup-form {
    min-width: 70vw;
  }
}

@media (min-width: 601px) {
  .signup-form {
    min-width: 400px;
    max-width: 500px;
    width: 100%;
  }
}

.signup-button {
  background-color: #c800ff;
  width: 100%;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.avatar-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.avatar-button {
  background-color: #4f4f4f;
  margin-left: 10px;
}
